html {
    background: lightblue;
}

body {
    padding: 20px 50px;
    background: white;
    margin: 250px 200px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 25px;
}

#title {
    font-family: Arial, Helvetica, sans-serif;
}

#login-btn {
    background: lightblue;
    color: black;
    padding: 30px auto;
    width: 300px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}